<!doctype html>
<HTML lang="en" ng-app="app">
	<HEAD>
		<!-- Libraries -->
		<SCRIPT src="/lib/jquery/jquery-1.11.3.min.js"></SCRIPT>
		
		<SCRIPT src="/lib/angular/angular.min.js"></SCRIPT>
		<SCRIPT src="/lib/angular/modules/angular-route.min.js"></SCRIPT>
		
		<SCRIPT src="/lib/bootstrap-3.3.4-dist/js/bootstrap.min.js"></SCRIPT>
		<LINK rel="stylesheet" type="text/css" href="/lib/bootstrap-3.3.4-dist/css/bootstrap.min.css">
		<LINK rel="stylesheet" type="text/css" href="/lib/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css">	
		
		<!-- Custom -->
		<SCRIPT src="/js/app.js"></SCRIPT>
		
		<SCRIPT src="/js/controllers/skillmatrixController.js"></SCRIPT>
		
		<LINK rel="stylesheet" type="text/css" href="/css/custom.css">	
	</HEAD>
	<BODY>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" ng-view></div>
			</div>
		</div>
	</BODY>
</HTML>